.cart{
    border-radius: .8em;
    background-color: #1b1e21;
    color: wheat;
    margin: 0.5em;
}

.cart:hover{
    cursor: grab;
}
.cart>.description{
    color: rgba(151, 151, 151, 0.93);
}


label[for='status']{
    font-size: small;
    color: white;
    font-weight: bold;
    margin-right: 2em;
    margin-left: auto;
}
